.alpackages/Microsoft_Application_20.0.37253.38362.app
.alpackages/Microsoft_Application_20.3.42673.43456.app
.alpackages/Microsoft_Base Application_20.0.37253.40750.app
.alpackages/Microsoft_Base Application_20.3.42673.44371.app
.alpackages/Microsoft_System Application_20.0.37253.40225.app
.alpackages/Microsoft_System Application_20.3.42673.43456.app
.alpackages/Microsoft_System_20.0.37114.38020.app
.alpackages/Microsoft_System_20.0.42653.42764.app
